<footer class="site-footer">



</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Compiled and minified JavaScript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script> -->
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Wn9x0A_-WDyRAt_H6_OTbn_ZjYbPWak&callback=initMap">
</script>

<script src="/assets/js/jquery-2.2.3.min.js"></script>
<script src="/assets/js/paralax.js"></script>
