<header id="header" class="bg-white hidden-sm hidden-xs">

  <!-- Photo -->
  <div class="photo image-responsive">
      <img src="assets/img/roro.png" alt="...">
  </div>

  <!-- Navigation -->
  <nav id="main-menu">
      <ul class="nav nav-vertical">
          <li><a href="#start"><span>Start</span></a></li>
          <li><a href="#resume"><span>Resume</span></a></li>
          <li><a href="#achievements"><span>Achievements</span></a></li>
          <li><a href="#testimonials"><span>Testimonials</span></a></li>
          <li><a href="#posts"><span>Latest Posts</span></a></li>
          <li><a href="#contact"><span>Contact</span></a></li>
      </ul>
  </nav>

  <!-- Social Media -->
  <div class="social-media">
      <strong class="text-sm">Check my social media!</strong>
      <ul class="list-inline margin-t-10">
          <li><a href="#" class="icon icon-xs"><i class="fa fa-facebook text-muted"></i></a></li>
          <li><a href="#" class="icon icon-xs"><i class="fa fa-twitter text-muted"></i></a></li>
          <li><a href="#" class="icon icon-xs"><i class="fa fa-google-plus text-muted"></i></a></li>
      </ul>
  </div>
</header>
