<!-- Section - Home -->
<section id="start" class="intro section bg-secondary">

    <!-- Middle -->
    <div class="intro-text">
        <h1 class="text-lg">Hi! I’m <strong>Rodolphe Hugel</strong></h1>
        <h5 class="text-tertiary">Seasoned Products Executive / Security & Identity</h5>
        <span data-target="local-scroll"><a href="#resume" class="btn btn-lg btn-primary animated" data-animation="bounceIn"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
        <a href="#" class="btn btn-link"><span>Download my CV</span><i class="ti-file"></i></a>
    </div>
</section>
<!-- Section - Home / End -->
