<!-- Section - Home -->
<div id="start" class="intro section bg-secondary">

    <!-- Middle -->
    <div class="intro-text">
        <h1>Hi! I’m <strong>Rodolphe Hugel</strong></h1>
        <h5 class="text-tertiary">Seasoned Products Executive / Security & Identity</h5>
        <span data-target="local-scroll"><a href="#resume" class="btn btn-lg btn-primary animated" data-animation="bounceIn"><span>Go to my resume!</span><i class="ti-arrow-down"></i></a></span>
        <a href="#" class="btn btn-link"><span>Download my CV</span><i class="ti-file"></i></a>
    </div>
</div>

<div class="large-window">
    <div class="window-tint">
        <div class="promo-text">That's<strong>Me</strong></div>
    </div>
</div>
<!-- Section - Home / End -->
