<section id="testimonials" class="section">

        <!-- Content -->
        <div class="container-fluid container-wide testimonials-section">

            <h6 class="margin-b-50">Testimonials</h6>

            <h1 class="margin-b-0"><strong>14</strong> years of experience</h1>
            <h5 class="text-muted margin-b-60">Look at their opinions!</h5>

            <div class="row padding-lg">

                <div class="col-lg-4 col-sm-6">
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt"><span><i class="fa fa-quote-left fa-lg"></i></span>
                          Rodolphe is definitely one of the greatest person I had a chance to manage in my career. What amazes me most with Rodolphe is his incredible capability to combine a large variety of skills and competences that are traditionally difficult to put in one single individual.
- Technical expertise in many domains coupled with a strong business sense. - Result / delivery oriented and visionary at the same time.
- Openly ambitious and real team player mindset.
Rodolphe is a natural born leader ! <br><span><i class="fa fa-quote-right fa-lg"></i></span>
                      </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated zoomIn visible" data-animation="zoomIn"><img class="img-circle" src="assets/img/RBA.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Régis Bauchière</span>
                              <span class="caption text-secondary">Safran Morpho - Senior Vice President Products & Innovation</span>
                          </div>
                      </div>
                    </div>
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt"><span><i class="fa fa-quote-left fa-lg"></i></span>
                          A great team leader, an extensive knowledge of security technology (smartcard, PKI, CMS, etc.) combined with a global view of the customer expectations made him a key player for the success of the French National Identity Documents Agency program. I am looking forward to working with Rodolphe again !
                        <br><span><i class="fa fa-quote-right fa-lg"></i></span>
                      </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated zoomIn visible" data-animation="zoomIn"><img class="img-circle" src="assets/img/BRA.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Benoit Ravier</span>
                              <span class="caption text-secondary">NXP - Senior Director Business Development </span>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt"><span><i class="fa fa-quote-left fa-lg"></i></span>
                          It's a great asset to work with Rodolphe. He brings many new ideas to the team while his enthusiasm pushes projects forward. I really appreciated this experience.
                          <br><span><i class="fa fa-quote-right fa-lg"></i></span>
                      </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated zoomIn visible" data-animation="zoomIn"><img class="img-circle" src="assets/img/HCH.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Hervé Chabanne</span>
                              <span class="caption text-secondary">Safran Morpho - Security Executive Expert</span>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Testimonial -->
                    <div class="testimonial testimonial-dark">
                      <div class="testimonial-content font-alt"><span><i class="fa fa-quote-left fa-lg"></i></span>
Knowing him since my very first days in college, I have learned a lot with Rodolphe. I'm pleased to have worked with him for several years. He has an impressive way of understanding complex problems, as well as apprehending new technologies and techniques.
                        <br><span><i class="fa fa-quote-right fa-lg"></i></span>
                    </div>
                      <div class="testimonial-author testimonial-with-photo">
                          <div class="testimonial-photo animated zoomIn visible" data-animation="zoomIn"><img class="img-circle" src="assets/img/GPE.jpg" alt=""></div>
                          <div class="testimonial-author-txt">
                              <span class="name">Gilles Péron</span>
                              <span class="caption text-secondary">Microsoft - Software Developper Engineer</span>
                          </div>
                      </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
