

$grey :#D8D8D8
$light-grey :#e4e1e1


header
  position: fixed
  display: float
  left: 10px
  width: 20%
  z-index: 11
  background: $light-grey
  img
    width: 100%


.intro
  background-image: url(/assets/img/background-main.jpg)
  background-repeat: no-repeat
  background-size: cover
  height: 100vh

.resume
  position: relative
  display: block
  padding-left: 25%
