

$grey :#D8D8D8
$light-grey :#EEE


header
  position: fixed
  display: flex
  flex-direction: column
  left: 10px
  width: 20%
  z-index: 11
  background: $light-grey
  img
    width: 100%

body
  width: 100%
  z-index: 1
  background: $grey

.intro
  background-image: url(/assets/img/background-main.jpg)
  background-repeat: no-repeat
  background-size: cover
  height: 100vh
  min-height: 100%
